@value primary, secondary from  "../main.css";

.font {
  font-size: 4em;
}

@media (min-width: 10em) {
  .font {
    composes: decoration from "../main.css";
    color: green;
  }
  .font:hover {
    color: secondary;
  }
}